@charset "utf-8";
/* CSS Document */

body{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 25;
}
img {
	max-width: 100%;
}
@media (max-width: 500px) {
	body {
		padding: 0;
		margin: 0;
	}
	img.overflow {
		width: 0;
	}
	h1 {
		font-size: 20px !important;
	}
	h2 {
		font-size: 16px !important;
	}
	/* a.image {
		margin: 7px !important;
	} */
}
@media (max-width: 300px) {
	a.image {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}
#header{
	max-height: 274;
	margin-top: 10;
	margin-bottom: 10;
	max-width: 100%;
	background-color: #F0F0F0;
	overflow-y: hidden;
}
div {
	margin-bottom: 20;
	margin-top: 20;
}
img.thumb {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#mainBox{
	padding: 5%;
	max-width: 100%;
	text-align: left;
	background-color: #F0F0F0;
}
#gallery {
	text-align: center;
}
#mainBox > p {
	max-width: 600px;
}
h1 {
	font-family: arial;
	font-size: 26px;
}
h2 {
	margin-top: 0;
	font-size: 22px;
}
a, h1, h2 {
	font-family: arial;
}
a.image {
    display: inline-block;
	margin: 2%;
	max-width: 100%;
}